In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
fine_dust = pd.read_csv('data/fine_dust.csv', encoding = 'utf-8')
fine_dust.head()

,측정일자,권역명,측정소명,미세먼지(㎍/㎥),초미세먼지(㎍/㎥),오존(ppm),이산화질소농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm)
0,20200419,도심권,중구,29,20,0.015,0.024,0.5,0.002
1,20200419,도심권,종로구,30,18,0.019,0.024,0.5,0.003
2,20200419,도심권,용산구,33,19,0.010,0.023,0.5,0.002
3,20200419,서북권,은평구,26,15,0.027,0.011,0.3,0.003
4,20200419,서북권,서대문구,33,21,0.026,0.013,0.5,0.002

In [3]:
fine_dust.isnull().sum()

측정일자            0
권역명             0
측정소명            0
미세먼지(㎍/㎥)       0
초미세먼지(㎍/㎥)      0
오존(ppm)         0
이산화질소농도(ppm)    0
일산화탄소농도(ppm)    0
아황산가스농도(ppm)    0
dtype: int64

In [4]:
fine_dust.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9071 entries, 0 to 9070
Data columns (total 9 columns):
측정일자            9071 non-null int64
권역명             9071 non-null object
측정소명            9071 non-null object
미세먼지(㎍/㎥)       9071 non-null int64
초미세먼지(㎍/㎥)      9071 non-null int64
오존(ppm)         9071 non-null float64
이산화질소농도(ppm)    9071 non-null float64
일산화탄소농도(ppm)    9071 non-null float64
아황산가스농도(ppm)    9071 non-null float64
dtypes: float64(4), int64(3), object(2)
memory usage: 637.9+ KB

In [5]:
del fine_dust['권역명']

In [6]:
corr = fine_dust.corr()
corr

,측정일자,미세먼지(㎍/㎥),초미세먼지(㎍/㎥),오존(ppm),이산화질소농도(ppm),일산화탄소농도(ppm),아황산가스농도(ppm)
측정일자,1.000000,0.239855,0.243531,-0.171756,0.225888,0.255437,-0.080327
미세먼지(㎍/㎥),0.239855,1.000000,0.849090,0.098049,0.544976,0.523913,0.334700
초미세먼지(㎍/㎥),0.243531,0.849090,1.000000,0.043239,0.579663,0.578008,0.342298
오존(ppm),-0.171756,0.098049,0.043239,1.000000,-0.352609,-0.280820,0.222722
이산화질소농도(ppm),0.225888,0.544976,0.579663,-0.352609,1.000000,0.671931,0.322339
일산화탄소농도(ppm),0.255437,0.523913,0.578008,-0.280820,0.671931,1.000000,0.314127
아황산가스농도(ppm),-0.080327,0.334700,0.342298,0.222722,0.322339,0.314127,1.000000

In [7]:
corr['초미세먼지(㎍/㎥)'].sort_values(ascending=False)

초미세먼지(㎍/㎥)      1.000000
미세먼지(㎍/㎥)       0.849090
이산화질소농도(ppm)    0.579663
일산화탄소농도(ppm)    0.578008
아황산가스농도(ppm)    0.342298
측정일자            0.243531
오존(ppm)         0.043239
Name: 초미세먼지(㎍/㎥), dtype: float64

In [8]:
del fine_dust['오존(ppm)']
del fine_dust['아황산가스농도(ppm)']

In [9]:
fine_dust = fine_dust.sort_values(by='측정일자', ascending=True)
fine_dust

          측정일자 측정소명  미세먼지(㎍/㎥)  초미세먼지(㎍/㎥)  이산화질소농도(ppm)  일산화탄소농도(ppm)
9070  20190419  강동구         37          16         0.018           0.3
9046  20190419   중구         37          18         0.031           0.5
9047  20190419  종로구         35          16         0.026           0.5
9048  20190419  용산구         31          16         0.022           0.4
9049  20190419  은평구         42          22         0.018           0.4
...        ...  ...        ...         ...           ...           ...
22    20200419  서초구         45          33         0.035           0.4
23    20200419  송파구         33          19         0.030           0.5
24    20200419  강동구         36          21         0.023           0.4
12    20200419  강북구         31          19         0.031           0.5
0     20200419   중구         29          20         0.024           0.5

[9071 rows x 6 columns]

In [10]:
fine_dust.rename(columns={fine_dust.columns[0] : 'date',
                          fine_dust.columns[1] : 'gu',
                          fine_dust.columns[2] : 'pm10',
                          fine_dust.columns[3] : 'pm25',
                          fine_dust.columns[4] : 'no2',
                          fine_dust.columns[5] : 'co'}, inplace = True)
fine_dust.head()

          date   gu  pm10  pm25    no2   co
9070  20190419  강동구    37    16  0.018  0.3
9046  20190419   중구    37    18  0.031  0.5
9047  20190419  종로구    35    16  0.026  0.5
9048  20190419  용산구    31    16  0.022  0.4
9049  20190419  은평구    42    22  0.018  0.4

In [11]:
fine_dust = pd.pivot_table(fine_dust, index = ['gu', 'date'], values = ['pm10', 'pm25', 'no2', 'co'])
fine_dust

               co    no2  pm10  pm25
gu  date
강남구 20190419  0.3  0.021    34    19
    20190420  0.3  0.022    37    21
    20190421  0.3  0.016    23    19
    20190422  0.5  0.035    73    33
    20190423  0.5  0.042    87    41
...           ...    ...   ...   ...
중랑구 20200415  0.6  0.035    63    35
    20200416  0.4  0.023    49    27
    20200417  0.4  0.022    33    18
    20200418  0.4  0.015    21    11
    20200419  0.5  0.020    30    18

[9071 rows x 4 columns]

plt.figure(figsize = (15,5))
sns.heatmap(fine_dust.corr(), annot=True, fmt='.2f', square=True)
plt.show()

NameError: name 'fine_dust' is not defined